.pay-container{
    border: 2px solid lightblue;
    border-radius: 4px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 50px;
    height: 500px;
    box-shadow: 9px 10px 25px rgb(140, 136, 136);
background-color: #fafeff;

}



.pay-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 400px;
    width: 100%;
    margin-top: 50px;

    
  }
  
  .button-lable {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;
  }
  
  .Card-element {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-top: 10px;
  }
  
  .button-pay {
    background-color: #0070f3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    transition: background-color 0.3s ease-in-out;
  }
  
  .button-pay:hover {
    background-color: #0062cc;
  }
  
  .button-pay:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  